In [1]:
import pandas as pd;
import numpy as np;
import seaborn as sns;
import matplotlib.pyplot as plt;
%matplotlib inline

In [3]:
import cufflinks as cf;
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot;

In [5]:
init_notebook_mode(connected = True);

In [6]:
import chart_studio.plotly as py;

In [7]:
cf.go_offline();

In [8]:
fatal_enc = pd.read_csv('fatal_encounters_dot_org.csv');

In [9]:
death_arrests = pd.read_csv('deaths_arrests.csv');

In [10]:
death_police = pd.read_csv('police_deaths_538.csv');

In [12]:
death_pol_killings = pd.read_csv('police_killings_MPV.csv');

In [13]:
wash_post_shoot_stats = pd.read_csv('shootings_wash_post.csv');

In [14]:
fatal_enc.head()

,Unique ID,Subject's name,Subject's age,Subject's gender,Subject's race,Subject's race with imputations,Imputation probability,URL of image of deceased,Date of injury resulting in death (month/day/year),Location of injury (address),...,A brief description of the circumstances surrounding the death,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Intentional Use of Force (Developing),Link to news article or photo of official document,"Symptoms of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Video,Date&Description,Unique ID formula,Unique identifier (redundant),Date (Year)
0,25746.0,Samuel H. Knapp,17,Male,European-American/White,European-American/White,Not imputed,NaN,01/01/2000,27898-27804 US-101,...,Samuel Knapp was allegedly driving a stolen ve...,Unreported,Pursuit,https://drive.google.com/file/d/10DisrV8K5ReP1...,No,NaN,1/1/2000: Samuel Knapp was allegedly driving a...,NaN,25746.0,2000
1,25747.0,Mark A. Horton,21,Male,African-American/Black,African-American/Black,Not imputed,NaN,01/01/2000,Davison Freeway,...,Two Detroit men killed when their car crashed ...,Unreported,Pursuit,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25747.0,2000
2,25748.0,Phillip A. Blurbridge,19,Male,African-American/Black,African-American/Black,Not imputed,NaN,01/01/2000,Davison Freeway,...,Two Detroit men killed when their car crashed ...,Unreported,Pursuit,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,1/1/2000: Two Detroit men killed when their ca...,NaN,25748.0,2000
3,25749.0,Mark Ortiz,23,Male,Hispanic/Latino,Hispanic/Latino,Not imputed,NaN,01/01/2000,600 W Cherry Ln,...,A motorcycle was allegedly being driven errati...,Unreported,Pursuit,https://drive.google.com/file/d/1qAEefRjX_aTtC...,No,NaN,1/1/2000: A motorcycle was allegedly being dri...,NaN,25749.0,2000
4,1.0,LaTanya Janelle McCoy,24,Female,African-American/Black,African-American/Black,Not imputed,NaN,01/02/2000,5700 block Mack Road,...,LaTanya Janelle McCoy's car was struck from be...,Unknown,Pursuit,http://www.recordnet.com/article/20000110/A_NE...,No,NaN,1/2/2000: LaTanya Janelle McCoy's car was stru...,NaN,1.0,2000

In [15]:
death_arrests.head()

,State,City,PD,Black People Killed by Police (1/1/2013-12/31/2019),Hispanic People Killed by Police (1/1/2013-12/31/2019),Native American People Killed by Police (1/1/2013-12/31/2019),Asian People Killed by Police (1/1/2013-12/31/2019),Pacific Islanders Killed by Police (1/1/2013-12/31/2019),White People Killed by Police (1/1/2013-12/31/2019),Unknown Race People Killed by Police (1/1/2013-12/31/2019),...,Average Violent Crimes Reported (2013-17),Violent Crime Rate,2013 Total Arrests (UCR Data),2014 Total Arrests,2015 Total Arrests,2016 Total Arrests,2017 Total Arrests,2018 Total Arrests,Estimated Average Arrests per Year,Killings by Police per 10k Arrests
0,New Mexico,Albuquerque,Albuquerque Police Department,3.0,18.0,NaN,NaN,NaN,11.0,NaN,...,6040.3,11.1,27700.0,25447.0,22126.0,20341.0,21130.0,22254.0,22259.6,14.4
1,California,Anaheim,Anaheim Police Department,3.0,7.0,NaN,NaN,NaN,3.0,NaN,...,1192.7,3.5,7891.0,8137.0,8381.0,9415.0,8869.0,10019.0,8964.2,14.5
2,Alaska,Anchorage,Anchorage Police Department,1.0,1.0,2.0,NaN,NaN,5.0,4.0,...,3179.3,10.9,17601.0,14748.0,14387.0,13294.0,13871.0,13973.0,14054.6,9.2
3,Texas,Arlington,Arlington Police Department,7.0,1.0,NaN,2.0,NaN,3.0,NaN,...,1921.8,5.3,17258.0,16222.0,13989.0,11024.0,8397.0,9566.0,11839.6,11.0
4,Georgia,Atlanta,Atlanta Police Department,13.0,NaN,NaN,NaN,NaN,1.0,1.0,...,4956.0,11.8,30505.0,26958.0,NaN,22161.0,22581.0,NaN,23900,6.3

In [16]:
death_police.head()

,person,dept,eow,cause,cause_short,date,year,canine,dept_name,state
0,Constable Darius Quimby,"Albany County Constable's Office, NY","EOW: Monday, January 3, 1791",Cause of Death: Gunfire,Gunfire,1791-01-03,1791,False,Albany County Constable's Office,NY
1,Sheriff Cornelius Hogeboom,"Columbia County Sheriff's Office, NY","EOW: Saturday, October 22, 1791",Cause of Death: Gunfire,Gunfire,1791-10-22,1791,False,Columbia County Sheriff's Office,NY
2,Deputy Sheriff Isaac Smith,"Westchester County Sheriff's Department, NY","EOW: Thursday, May 17, 1792",Cause of Death: Gunfire,Gunfire,1792-05-17,1792,False,Westchester County Sheriff's Department,NY
3,Marshal Robert Forsyth,United States Department of Justice - United S...,"EOW: Saturday, January 11, 1794",Cause of Death: Gunfire,Gunfire,1794-01-11,1794,False,United States Department of Justice - United S...,US
4,Sheriff Robert Maxwell,"Greenville County Sheriff's Office, SC","EOW: Sunday, November 12, 1797",Cause of Death: Gunfire,Gunfire,1797-11-12,1797,False,Greenville County Sheriff's Office,SC

In [17]:
death_pol_killings.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,Name withheld by police,Unknown,Male,Unknown race,NaN,06/09/2020,337 Garrison Place,Virginia Beach,VA,23452.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,Unknown,Male,Unknown race,NaN,05/09/2020,4900 South Lavergne Avenue,Chicago,IL,60638.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Name withheld by police,61,Male,Unknown race,NaN,05/09/2020,2118 Fredericksburg Rd,San Antonio,TX,78201.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name withheld by police,22,Male,Unknown race,NaN,05/09/2020,2500 Logistics Drive,Battle Creek,MI,49037.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Steven D. Smith,33,Male,Unknown race,NaN,04/09/2020,200 N. State Street,Syracuse,NY,13203.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
wash_post_shoot_stats.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

## Exploratory Data Analysis

### For dataset 1: Police deaths. Dataframe_name: death_police

In [19]:
death_police.columns

Index(['person', 'dept', 'eow', 'cause', 'cause_short', 'date', 'year',
       'canine', 'dept_name', 'state'],
      dtype='object')

In [21]:
death_police.describe()

               year
count  22800.000000
mean    1951.751272
std       38.233234
min     1791.000000
25%     1924.000000
50%     1952.000000
75%     1983.000000
max     2016.000000

In [22]:
death_police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22800 entries, 0 to 22799
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   person       22800 non-null  object
 1   dept         22800 non-null  object
 2   eow          22800 non-null  object
 3   cause        22800 non-null  object
 4   cause_short  22800 non-null  object
 5   date         22800 non-null  object
 6   year         22800 non-null  int64
 7   canine       22800 non-null  bool
 8   dept_name    22800 non-null  object
 9   state        22800 non-null  object
dtypes: bool(1), int64(1), object(8)
memory usage: 1.6+ MB

In [23]:
death_police.isnull().sum()

person         0
dept           0
eow            0
cause          0
cause_short    0
date           0
year           0
canine         0
dept_name      0
state          0
dtype: int64

to simplify this analysis, I am going to reference this dataset with variable <strong>df</strong> for now; this variable name will be reassigned to other datasets later on

In [24]:
df = death_police.copy(deep = True);

In [29]:
for i in df.columns:
    print('Column', i, ': \n', df[i].value_counts(), '\n');

Column person :
 K9 Rocky                                4
K9 King                                 3
K9 Bruno                                3
K9 Sarge                                3
K9 Roscoe                               3
                                       ..
Game Warden Harvey M. Carter            1
Detective Sergeant John F. Mickley      1
Deputy Game Warden John W. Hollowell    1
Deputy Game Warden Joseph Saunders      1
K9 Credo                                1
Name: person, Length: 22742, dtype: int64

Column dept :
 New York City Police Department, NY                                         753
Chicago Police Department, IL                                               492
Puerto Rico Police Department, PR                                           338
United States Department of Justice - United States Marshals Service, US    279
Philadelphia Police Department, PA                                          256
                                                                           ...
Miles City Police Department, MT                                              1
Coffee County Sheriff's Department, TN                                        1
Rosalia Police Department, WA                                                 1
Maplewood Police Department, NJ                                               1
Fountain County Sheriff's Office, IN                                          1
Name: dept, Length: 6528, dtype: int64

Column eow :
 EOW: Tuesday, September 11, 2001    73
EOW: Wednesday, April 27, 1870      11
EOW: Friday, November 10, 1837      10
EOW: Saturday, January 2, 1932      10
EOW: Saturday, November 24, 1917    10
                                    ..
EOW: Wednesday, July 18, 1934        1
EOW: Friday, July 20, 1934           1
EOW: Saturday, July 21, 1934         1
EOW: Saturday, July 28, 1934         1
EOW: Friday, July 1, 2016            1
Name: eow, Length: 17158, dtype: int64

Column cause :
 Cause of Death: Gunfire                     12067
Cause of Death: Automobile accident          2348
Cause of Death: Motorcycle accident          1134
Cause of Death: Heart attack                  977
Cause of Death: Vehicular assault             888
Cause of Death: Struck by vehicle             868
Cause of Death: Vehicle pursuit               627
Cause of Death: Assault                       613
Cause of Death: Gunfire (Accidental)          604
Cause of Death: Stabbed                       465
Cause of Death: Aircraft accident             381
Cause of Death: Drowned                       262
Cause of Death: Struck by train               254
Cause of Death: Fall                          197
Cause of Death: Duty related illness          169
Cause of Death: 9/11 related illness          110
Cause of Death: Terrorist attack               85
Cause of Death: Electrocuted                   83
Cause of Death: Animal related                 82
Cause of Death: Accidental                     80
Cause of Death: Struck by streetcar            68
Cause of Death: Fire                           63
Cause of Death: Heat exhaustion                61
Cause of Death: Explosion                      58
Cause of Death: Bomb                           57
Cause of Death: Exposure to toxins             44
Cause of Death: Weather/Natural disaster       33
Cause of Death: Training accident              28
Cause of Death: Structure collapse             23
Cause of Death: Train accident                 18
Cause of Death: Exposure                       14
Cause of Death: Boating accident               13
Cause of Death: Bicycle accident               13
Cause of Death: Unidentified                    7
Cause of Death: Poisoned                        4
Cause of Death: Asphyxiation                    2
Name: cause, dtype: int64

Column cause_short :
 Gunfire                     12067
Automobile accident          2348
Motorcycle accident          1134
Heart attack                  977
Vehicular assault             888
Struck by vehicle             868
Vehicle pursuit               627
Assault                       613
Gunfire (Accidental)          604
Stabbed                       465
Aircraft accident             381
Drowned                       262
Struck by train               254
Fall                          197
Duty related illness          169
9/11 related illness          110
Terrorist attack               85
Electrocuted                   83
Animal related                 82
Accidental                     80
Struck by streetcar            68
Fire                           63
Heat exhaustion                61
Explosion                      58
Bomb                           57
Exposure to toxins             44
Weather/Natural disaster       33
Training accident              28
Structure collapse             23
Train accident                 18
Exposure                       14
Boating accident               13
Bicycle accident               13
Unidentified                    7
Poisoned                        4
Asphyxiation                    2
Name: cause_short, dtype: int64

Column date :
 2001-09-11    73
1870-04-27    11
1837-11-10    10
1932-01-02    10
1917-11-24    10
              ..
1934-07-18     1
1934-07-20     1
1934-07-21     1
1934-07-28     1
2016-07-01     1
Name: date, Length: 17158, dtype: int64

Column year :
 1930    323
1927    305
1932    301
1931    296
1924    289
       ...
1824      1
1827      1
1828      1
1830      1
1792      1
Name: year, Length: 202, dtype: int64

Column canine :
 False    22537
True       263
Name: canine, dtype: int64

Column dept_name :
 New York City Police Department                                         753
Chicago Police Department                                               492
Puerto Rico Police Department                                           338
United States Department of Justice - United States Marshals Service    279
Philadelphia Police Department                                          256
                                                                       ...
Burkeville Police Department                                              1
Lamar County Sheriff's Office                                             1
Liberty Township Constable's Office                                       1
Madison County Fifth District Constable's Office                          1
Fountain County Sheriff's Office                                          1
Name: dept_name, Length: 5525, dtype: int64

Column state :
  TX    1880
 CA    1639
 NY    1574
 US    1225
 IL    1073
 PA     901
 OH     834
 FL     820
 KY     772
 GA     698
 MO     666
 TN     607
 MI     574
 NC     549
 AL     537
 VA     523
 OK     496
 NJ     485
 LA     470
 IN     434
 PR     363
 SC     362
 MA     360
 MD     325
 CO     305
 WA     290
 AR     284
 RR     280
 WI     275
 AZ     273
 MS     261
 KS     257
 MN     244
 WV     208
 IA     197
 OR     182
 NM     151
 CT     144
 DC     128
 UT     128
 MT     128
 NV     120
 NE     110
 ME      86
 ID      64
 WY      57
 HI      56
 ND      55
 SD      53
 TR      51
 RI      50
 AK      48
 NH      46
 DE      41
 VT      26
 VI      14
 GU      12
 CZ       3
 AS       3
 MP       3
Name: state, dtype: int64

In [31]:
for i in df.columns:
    print('Column', i, ': \n', df[i].nunique(), '\n');

Column person :
 22742

Column dept :
 6528

Column eow :
 17158

Column cause :
 36

Column cause_short :
 36

Column date :
 17158

Column year :
 202

Column canine :
 2

Column dept_name :
 5525

Column state :
 60